@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body { 
    font-family: 'Roboto', sans-serif;
}

header { 
    background-color: #1f2937;
    padding: 1em 10em;

}

#logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.hero {
    margin: 6em 0 6em 0;
    display: flex;
    justify-content: space-between;
}

.hero .left {
    display: flex;
    flex-wrap: wrap;
    max-width: 29em;
}

.hero .right {
    display: flex;
    background-color: #6d747d;
    color: #e5e7eb;
    padding: 2em 10em 2em 10em;
    align-items: center;
}

.left h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
}

.left p {
    color: #e5e7eb;
    font-size: 18px;
}
