@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body { 
    font-family: 'Roboto', sans-serif;
}

header { 
    background-color: #1f2937;
    padding: 1em 10em;

}

#logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.hero {
    margin: 6em 0 6em 0;
    display: flex;
    justify-content: space-between;
}

.left {
    display: flex;
    flex-wrap: wrap;
    max-width: 29em;
}

.button-1 {
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    margin-top: 6px;
    padding: 4px 25px;
}

.hero .right {
    display: flex;
    background-color: #6d747d;
    color: #e5e7eb;
    padding: 1em 9em 1em 9em;
}

.image {
    display: flex;
    align-items: center;
    margin: -2em;
}

.left h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
}

.left p {
    color: #e5e7eb;
    font-size: 18px;
}

main { 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 13em 4em 13em;
}

h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 800;
    margin: 32px 0 25px 0;
}

.section-1 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 1em 0 1em 0;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: .5em;
    margin: 0 1.5em;
}

img {
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 12px;
}

.section-1 p {
   max-width: 150px;
   max-height: fit-content; 
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 6em 14em;
}

.quote em {
   font-size: 36px;
   font-weight:300; 
   color: #1f2937;
}

.quote p {
    align-self: flex-end;
    font-weight: 700;
    font-size: 18px;
}